<div class="container" style="padding-top: 120px;">
    <div class="row">
        <div class="col-6">
            <div class="mb-4">
                <h3>Sign In</h3>
                <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
              </div>
              <form action="#" method="post">
                <div class="form-group first">
                  <label for="username">Usuario</label>
                  <input type="text" class="form-control" id="username">
  
                </div>
                <div class="form-group last mb-3">
                  <label for="password">Contraseña</label>
                  <input type="password" class="form-control" id="password">
                  
                </div>
                
                <div class="d-flex mb-5 align-items-center">
                  <label class="control control--checkbox mb-0"><span class="caption">Recuerdame</span>
                    <input type="checkbox" checked="checked"/>
                    <div class="control__indicator"></div>
                  </label>
                  <span class="ml-auto"><a href="#" class="forgot-pass">Olvide Contraseña</a></span> 
                </div>
  
                <input type="submit" value="Log In" class="btn btn-block btn-primary">

              </form>
        </div>
        <div class="col-6">
            <div>
                <img src="assets/img/Inicio/login_1.jpg" width="600" height="400">
            </div>
        </div>
    </div>
    
</div>