<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav" style="opacity: 1;background-color: rgba(52,58,64,0.75);">
  <div class="container">
      <a class="navbar-brand js-scroll-trigger" routerLink="home" style="color: rgb(0, 0, 0);">Condominios360</a>
      <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(0, 0, 0);"><i class="fa fa-bars" style="color: rgba(0, 0, 0, 0.75);"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav navbar-nav ml-auto text-uppercase">
              <!-- 
              <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" href="#portfolio" style="color: rgb(255,165,85);">PROYECTOS</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" href="#services" style="color: rgb(255,165,85);">DEPARTAMENTOs</a></li>
              -->
              <!-- 
              <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="aboutus" style="color: rgb(255,165,85);">Logout</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="team" style="color: rgb(255,165,85);">Intranet</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="contactus" style="color: rgb(255,165,85);">Administracion</a></li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toogle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: rgb(255,165,85);">Perfil</a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" routerLink="admin/project/new">Beneficios</a>
                      <a class="dropdown-item" routerLink="admin/project/list">Precios</a>
                      <a class="dropdown-item" routerLink="admin/apartment/new">Contactenos</a>
                      <a class="dropdown-item" routerLink="admin/apartment/list">Valor</a>
                  </div>
              </li>
              -->
             
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="login" style="color: rgb(0, 0, 0);">Login</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="team" style="color: rgb(0, 0, 0);">Beneficios</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="contactus" style="color: rgb(0, 0, 0);">Precios</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toogle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: rgb(0, 0, 0);">Contactenos</a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" routerLink="admin/project/new">Beneficios</a>
                      <a class="dropdown-item" routerLink="admin/project/list">Precios</a>
                      <a class="dropdown-item" routerLink="admin/apartment/new">Contactenos</a>
                      <a class="dropdown-item" routerLink="admin/apartment/list">Valor</a>
                  </div>
                </li>
            
          </ul>
          <!-- <a class="btn btn-primary text-black-50 border-dark" role="button" href="userLogin.html" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);border:none;">Acceder</a> -->
      </div>
      <input type="search" placeholder="Busqueda" aria-label="Search">
      <!--<button class="btn btn-outline-warning" type="submit">Busca</button>-->
  </div>
</nav>
<section style="min-height: 650px; padding-top: 0px; padding-bottom: 0px;">
  <router-outlet></router-outlet>
</section>