<div class="container" style = "padding-top: 120 px," >
    <h3>Equipo Nro 10</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum optio omnis placeat voluptas soluta quam ut, fugit nisi vero eligendi facilis, blanditiis at officia veritatis porro pariatur ea, iure totam.
    </p>
    <div class= "row">
        <div class="col-3">
            <img class="img-fluid" src="assets/img/silueta.png">
            <div>
                <b>Nombre Apellidos</b>
            </div>
            <div>
                Analista
            </div>
        </div>

        <div class="col-3">
            <img class="img-fluid" src="assets/img/silueta.png">
            <div>
                <b>Nombre Apellidos</b>
            </div>
            <div>
                Programador
            </div>
        </div>

        <div class="col-3">
            <img class="img-fluid" src="assets/img/silueta.png">
            <div>
                <b>Nombre Apellidos</b>
            </div>
            <div>
                Arquitecto
            </div>
        </div>

        <div class="col-3">
            <img class="img-fluid" src="assets/img/silueta.png">
            <div>
                <b>Nombre Apellidos</b>
            </div>
            <div>
                Líder técnico
            </div>
        </div>

        <div class="col-3">
            <img class="img-fluid" src="assets/img/silueta.png">
            <div>
                <b>Nombre Apellidos</b>
            </div>
            <div>
                Project Manager
            </div>
        </div>

    </div>
</div>
