<div class= "container" style="padding-top: 120px;">
    <h3>Acerca de Nosotros</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsum totam omnis porro! Fugit dolores veniam magnam. Animi dolor omnis, libero tempora quo fugit provident maiores facilis vitae, aliquid tenetur.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quos dolorem et ipsam nobis reprehenderit voluptate earum pariatur blanditiis veritatis ducimus a beatae rem perferendis corporis, facere laboriosam expedita officia?
    </p>
</div>
